body{
    background: linear-gradient(90deg, #6e6e6e 0%, #ffffff 100%); 
}
h1{
    color: #ffffff;
    text-shadow: 6px 6px 10px black;
    font-size:500%;;
    margin-top: 1%;
    text-align: center;
}
.képkatt{
    font-size: 200%;
}
ol{
    color: #ffffff;
    text-shadow: 3px 3px 10px black;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}
p{
    color: #ffffff;
    text-shadow: 3px 3px 10px black;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}
h2{
    color: #ffffff;
    text-shadow: 3px 3px 10px black;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}
.mybutton{
    margin-top: 1%;
    margin-left: 1%;
    background-color: #6e6e6e;
}
.szoveg{
cursor: default;
text-align: left;
text-shadow: none;
border-radius: 20px;
padding: 20px;
margin-left: 20%;
margin-right: 20%;
margin-top: 5%;
background-color: rgb(70, 70, 70);
box-shadow: 6px 6px 10px black;
}
.képek{
    display: inline-block;
    cursor:grab;
    filter: drop-shadow( 15px 15px 20px black);
    border-radius: 30% 15px;
    margin-left: 2.5%;
    margin-right: 3%;
}
.aaa{
    filter: drop-shadow(30px 20px 30px black);
    width: 200px;
    cursor:help;
    margin-left: 43%;
}
.sor{
    display: flex;
}
.ár1{
    text-shadow: none;
    background-color: none;
    margin-left: 90px;
    color: red;
    margin-right: 220px;
}
.ár2{
    text-shadow: none;
    background-color: none;
    color: red;
}
.ár3{
    text-shadow: none;
    background-color: none;
    margin-left: 230px;
    color: red;
}
.ár4{
    text-shadow: none;
    background-color: none;
    margin-left: 230px;
    color: red;
}
.ár5{
    text-shadow: none;
    background-color: none;
    margin-left: 245px;
    color: red;
}
.ár6{
    text-shadow: none;
    background-color: none;
    margin-left: 240px;
    color: red;
}
